debug*
.vscode
*.mp4
*.mp3
*.gif
*.png
*.jpg
*.jpeg
*.ico
logs
models/
data
*.csv
__pycache__
*.pyc
.git
.idea
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
.next
.out
.serverless
.webpack/
aaa*
check_*
diffsynth.egg-info/
*.log
*.txt
test/
testdataset/
data/
.gradio/
.cache/
movement/

