output/
debug*
.vscode
*.mp4
*.mp3
*.gif
*.png
*.jpg
*.jpeg
*.ico
logs
models/
dataset
*.csv
*.json*
__pycache__
*.pyc
.git
.idea
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
.next
.out
.serverless
.webpack/
aaa*
check_*
diffsynth.egg-info/
*.log
*.txt
test/
testdataset/
.gradio/
.cache/
movement/
__MACOSX/
.gradio/
output_vace_*
output_id_grid
failcase
generation
temp
get_smpl_motion/test
get_smpl_motion/口型拒识待优化样例
*.pdf
output_id_grid_v5.0
output_id_grid*